body{
background-color: chartreuse;
}

output{
    background-color: #99ffff;
    color: aquamarine;
    font-family: #ff9962;
    font-size: rgb(250,25,10);    
}
button{
    background-color: blue;
    color: aqua;
    padding: 5px;
    border-radius: 5px;
    border: none;
}